<!-- This is the main template for the application -->
<div class="game-board">
  <!-- Player 1 Area (Top) -->
  <div id="player-top" class="player-area-top">
    <div class="card-container-horizontal">
      <div class="card player-1-card" *ngFor="let card of playersCards()[0];"></div>
    </div>
  </div>

  <!-- Player 2 Area (Left) -->
  <div id="player-left" class="player-area-left">
    <div class="card-container-vertical">
      <div class="card player-2-card" *ngFor="let card of playersCards()[1];"></div>
    </div>
  </div>

  <!-- Center Area with Image -->
  <div id="center-area">
    <div id="empire-card-wrapper"></div>
    <div class="d-flex flex-column justify-between h-100">
      <img src="assets/background.jpg" alt="Center Image" class="center-image">
      <div id="control-area"></div>
    </div>
  </div>

  <!-- Player 3 Area (Right) -->
  <div id="player-right" class="player-area-right">
    <div class="card-container-vertical">
      <div class="card player-3-card" *ngFor="let card of playersCards()[2];"></div>
    </div>
  </div>

  <!-- Player 4 Area (Bottom) -->
  <div id="player-bottom" class="player-area-bottom">
    <div class="card-container-horizontal">
      <div class="card player-4-card" *ngFor="let card of playersCards()[3];"></div>
    </div>
  </div>
</div>
